h4,
h5,
h6,
p{
  font-family: $raleway;
  font-weight: $regular;
  font-size: $medium;
}

h1{
  font-family: $raleway;
  font-weight: $bold;
  font-size: $large;
}

h2{
  font-family: $raleway;
  font-weight: $regular;
  font-size: $large;
}

h3{
font-family: $raleway;
font-weight: $bold;
font-size: $medium;
}
