//esquema de colores

//primer esquema de colores
$white: #FFF;
$snow: #FAFAFA;
$quick-silver: #AOAOAO;

//segunda paleta de colores
$jelly-bean: #E56353;
$salmon: #E97F72;
$pastel-pink: #F0A9A1;

//Tercera paleta de colores
$granite-gray: #686963;
$taupe-gray: #91918D;
$gray: #BABAB8;

//tipografia
$raleway: 'Raleway', sans-serif;

//peso de fuente o font weight
$extra-light: 200;
$regular: 400;
$bold: 700;

//size
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;
