// Inicio del nav
.nav{
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: $white;
    &__content{
      width: 100%;
      max-width: 25%;
      height: auto;
      overflow: hidden;
      padding-left: 5rem;
      padding-top: 1rem;
    }

    &__image{
      width: 100%;

    }
}
//Cierre del Nav

//inicio del header
.header {
background-color: $salmon;
margin: 0;
padding: 5.6875em;
color: $white;
background-size:cover;
text-align: center;
}
//fin del header
